*,
ul,
ul li {
  margin: 0;
  padding: 0;
}

[hidden] {
  display: none !important;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  //overflow-x: hidden;
}

body {
  transition: background-color 0.25s;
  background-color: var(--body-bg);
  color: var(--body-font-color);
  font-weight: 400;
  letter-spacing: var(--letter-spacing);
}

ul,
.ul {
  padding-left: 1.2rem;

  li {
    //margin: 1rem 0;

    &::marker {
      color: inherit;
    }
  }
}

a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}
*:focus-visible {
  outline: none !important;
  box-shadow: $input-focus-box-shadow, 0px 0px 3px #fff !important;
}

td {
  p {
    margin-bottom: 0;
  }
}

p:empty {
  display: none;
}

input[type="text"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
textarea,
select,
.vscomp-ele-wrapper {
  //width: 100%;
  max-width: none;
  margin-bottom: 1rem;
}
