//@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');
  

/* @font-face {
    font-style: normal;
    font-weight: 300;
    font-family: 'WeissenhofGrotesk';
    src: url('webfonts/332361_4_unhinted_0.woff2') format('woff2'), url('webfonts/332361_4_unhinted_0.woff') format('woff'), url('webfonts/332361_4_unhinted_0.ttf') format('truetype');
}

@font-face {
    font-style: italic;
    font-weight: 300;
    font-family: 'WeissenhofGrotesk';
    src: url('webfonts/332361_2_unhinted_0.woff2') format('woff2'), url('webfonts/332361_2_unhinted_0.woff') format('woff'), url('webfonts/332361_2_unhinted_0.ttf') format('truetype');
} */

@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: 'WeissenhofGrotesk';
    src: url('webfonts/332361_7_unhinted_0.woff2') format('woff2'), url('webfonts/332361_7_unhinted_0.woff') format('woff'), url('webfonts/332361_7_unhinted_0.ttf') format('truetype');
}

@font-face {
    font-style: italic;
    font-weight: 400;
    font-family: 'WeissenhofGrotesk';
    src: url('webfonts/332361_3_unhinted_0.woff2') format('woff2'), url('webfonts/332361_3_unhinted_0.woff') format('woff'), url('webfonts/332361_3_unhinted_0.ttf') format('truetype');
}

@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: 'WeissenhofGrotesk';
    src: url('webfonts/332361_5_unhinted_0.woff2') format('woff2'), url('webfonts/332361_5_unhinted_0.woff') format('woff'), url('webfonts/332361_5_unhinted_0.ttf') format('truetype');
}

@font-face {
    font-style: italic;
    font-weight: 500;
    font-family: 'WeissenhofGrotesk';
    src: url('webfonts/332361_6_unhinted_0.woff2') format('woff2'), url('webfonts/332361_6_unhinted_0.woff') format('woff'), url('webfonts/332361_6_unhinted_0.ttf') format('truetype');
}

@font-face {
    font-style: normal;
    font-weight: 600;
    font-family: 'WeissenhofGrotesk';
    src: url('webfonts/332361_0_unhinted_0.woff2') format('woff2'), url('webfonts/332361_0_unhinted_0.woff') format('woff'), url('webfonts/332361_0_unhinted_0.ttf') format('truetype');
}

@font-face {
    font-style: italic;
    font-weight: 600;
    font-family: 'WeissenhofGrotesk';
    src: url('webfonts/332361_1_unhinted_0.woff2') format('woff2'), url('webfonts/332361_1_unhinted_0.woff') format('woff'), url('webfonts/332361_1_unhinted_0.ttf') format('truetype');
}


