.framed img,
.video iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0;
}
.video,
.framed {
    position: relative;
    display: block;
    --w: 1;
    --h: 1;
    padding-bottom: calc(100% / var(--w) * var(--h));
    background: var(--color-black);
}

img {
    border-radius: 0rem;
    max-width: 100%;
    pointer-events: none;
}

.pswp-gallery{ // enable pointerevents for high quality image that can be zoomed in
    img{
        pointer-events: all;
    }
}

figure {
    position: relative;

    &.rounded {
        img {
            border-radius: 50%;
        }
    }
}
