.podest-container {
    .col-exhibit {
        .single-exhibit.twitter-container {
            width: 100% !important;
            --scale: 0.66;
            --scaleFactor: 1;
            transform: scale(calc(var(--scale) * var(--scaleFactor)));
            transform-origin: bottom;

            &.loaded {
                margin-top: calc((calc(var(--scale) * var(--scaleFactor)) - 1) * 100vh);
            }

            @include media-breakpoint-up(lg) {
                --scale: 1;
            }

            .twitter-tweet {
                justify-content: center;
                align-items: flex-end;
                bottom: 0;
                position: relative;
            }
        }

        .cover-link {
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            display: block;
            z-index: inherit;
            pointer-events: all !important;
        }
    }
}
